{% extends "layouts/wizard-interruption.html" %}
  {% set title = "Your details" %}




{% block beforeForm %}
<h1 class="govuk-panel__title">{{ title }}</h1>
<p>
    Before you register for an NPQ, we'll ask you for a few details to see if you're in our records.
</p>
<p>We’ll ask for your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>date of birth</li>
  <li>National Insurance number, if you have one</li>
</ul>

<p class="govuk-!-margin-bottom-6">

    We may also ask some follow-up questions.
</p>

{% endblock %}
{% block form %}
<input type="hidden" name="last-name" id="last-name" value="">
<input type="hidden" name="first-name" id="first-name" value="">
<input type="hidden" name="preferred-first-name" id="preferred-first-name" value="">
<input type="hidden" name="preferred-last-name" id="preferred-last-name" value="">

{% endblock %}
