{% extends "layouts/wizard.html" %}
{% set title = "You’ve signed in with a different email address" %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>Your email address is different to the one we have on record.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Which email address should we use?"
      }
    },
    formGroup: {
      classes: "govuk-!-margin-top-7"
    },
    hint: {
      html: nino
    },
    items: [{
      text: d('email-address') or 'jane.doe@example.com',
      value: "yes"
    }, {
      text: "jane.doe@school.sch.gov.uk",
      value: "no"
    }],
    decorate: "identity.replace-email"
  }) }}
{% endblock %}
