{% extends "layouts/wizard.html" %}
{% set title %}Update your preferred name{% endset %}
{% set secondaryButton %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    html: 'Cancel changes',
    href: 'signed-in-as',
    classes: "govuk-button--secondary"
  }) }}
{% endset %}

{% block form %}
<h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>
<p>You can tell us what you prefer to be called if it's different from the name on your offical documents. </p>

<p>For example, if your name is Joanne and you preferred to be called Jo.</p>
  {{ govukInput({
    label: {
      text: "Preferred first name",
      classes: "govuk-label--s"
    },
    decorate: 'preferred-first-name'
  }) }}

  {{ govukInput({
    label: {
      text: "Preferred last name",
      classes: "govuk-label--s"
    },
    decorate: 'preferred-last-name'
  }) }}

{% endblock %}
