{% extends "layouts/wizard.html" %}
{% set title = "Update your details" %}
{% set hideButton = true %}
{% set secondaryButton %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    html: 'Back to details confirmation',
    href: '/get-an-identity/signed-in-as',
    classes: "govuk-button--secondary"
  }) }}
{% endset %}

{% set name %}
    {% if not data.features.noMatchJourney.on %}
    <p class="govuk-hint govuk-!-font-size-14">used for certificates</p>

    {% endif %}

{% endset %}


{% block form %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>


  {% if not data.features.noMatchJourney.on %}
  <h2 class="govuk-heading-m">Update your name</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              html:  data['full-name'] | title + name
            }
          }
        ]
      }) }}
    <p>To update the name that will appear on your certificates, <a href='https://www.gov.uk/guidance/teacher-self-service-portal' target="_blank">access the Teacher self-service portal (opens in new tab)</a>.</p>
    <p>You can also update your date of birth and National Insurance number there.</p>

    <h2 class="govuk-heading-m">Update your preferred name or email</h2>
    <input type="hidden" name="preferred-last-name" id="preferred-last-name" value="smith">
{% endif %}

{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Name"
    },
    value: {
      html:  data['first-name'] | title + ' ' + data['last-name'] | title
    },
    actions: {
      items: [
        {
          href: "edit-name",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  } if data.features.noMatchJourney.on ,
    {
      key: {
        text: "Preferred name"
      },
      value: {
        html:  data['preferred-name'] | title+'<p class="govuk-hint govuk-!-font-size-14"">used for email correspondence</p>'
      },
      actions: {
        items: [
          {
            href: "edit-preferred-name",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    } ,
    {
      key: {
        text: "Email address"
      },
      value: {
        html: data['email-address']
      },
      actions: {
        items: [
          {
            href: "change-email",
            text: "Change",
            visuallyHiddenText: "email"
          }
        ]
      }
    }
  ]
}) }}



{% endblock %}
