{% extends "layouts/wizard-interruption.html" %}
{% set matched = not d('identity.try-again') === 'no' %}
{% set title = ("Continue " + data.onwardContinue) if data.onwardContinue else "You can continue" %}

{% block form %}
  <h1 class="govuk-panel__title">{{ title }}</h1>

  {% if not matched and data.features.noMatchJourney.on %}

  <p>Although we could not find your record, you can continue to register for an NPQ.  </p>
 
    {% else %}
    <p>Thank you, we’ve finished checking our records.</p>
  {% endif %}

  {% if getAnIdentityJourney %}
  <p class="govuk-!-margin-bottom-6"></p>
      {% if not matched and data.features.noMatchJourney.on %}

      <!-- If you need to come back to this service later, use your email address <b>({{ data['replaced-email-address'] or data['email-address'] or "email@example.com" }})</b> when prompted and you will not have to answer these questions again.  -->
      Next time use <b>({{ data['replaced-email-address'] or data['email-address'] or "email@example.com" }})</b> to amend your application or account details. 

      {% else %}
        We’ll only need your email address <b>({{ data['replaced-email-address'] or data['email-address'] or "email@example.com" }})</b> to find your details in the future. 
      {% endif %}
  </p>
  {% else %}
  <h2 class="govuk-heading-m">Next time</h2>  
     <p class="govuk-!-margin-bottom-6">Next time, you can skip these questions by signing in with your email address: <b>{{ data['replaced-email-address'] or data['email-address'] or "email@example.com" }}</b></p>
  {% endif %}


  <input type="hidden" name="account-data" value="{{ data | stringify }}">
{% endblock %}
