{% extends "layouts/wizard.html" %}
{% set title = "Do have a teacher reference number (TRN)?" %}
{% set trnGuidance %}
You will have a TRN if you:

* hold qualified teacher status (QTS) in England or Wales
* hold early years teacher status (EYTS) in England
* hold a national professional qualification (NPQ)
* are working towards QTS, EYTS or an NPQ
{% endset %}
{% block form %}
<h1 class="govuk-heading-xl">{{ title }}</h1>

{{ trnGuidance | govukMarkdown | safe }}




{{ govukRadios({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--m",
      text: 'Do you have a TRN?'
    }
  },
  items: [{
    text: "Yes",
    value: "yes"
  }, {
    text: "No",
    value: "no"
  }],
  decorate: "have-trn",
  validate: {
    presence: {
      message: "Tell us if you know your TRN"
    }
  }
}) }}
{% endblock %}
