{% extends "layouts/wizard.html" %}
{% set useFullName = data.features.fullName.on %}
{% set title = "What’s your name?" %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <!-- <h2 class="govuk-heading-m">Use the name on your official documents</h2>
  <p>
    You should tell us the name that appears on your passport, driving licence or marriage certificate, if you have one.
   
  </p>

  <p>If the names on your documents are different, give us the most recent one.</p> -->

  <!-- <h2 class="govuk-heading-m">Your name</h2> -->
  <p>Use the name on your official documents such as your passport.</p>
  
  {% if useFullName %}
    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--s"
      },
      decorate: 'full-name'
    }) }}
  {% else %}
    {{ govukInput({
      label: {
        text: "First name",
        classes: "govuk-label--s"
      },
      decorate: 'first-name'
    }) }}

    {{ govukInput({
      label: {
        text: "Last name",
        classes: "govuk-label--s"
      },
      decorate: 'last-name'
    }) }}
  {% endif %}

  {% include "../_previous-name.html" %}
{% endblock %}
