{% extends "layouts/wizard.html" %}

{% if getAnIdentityJourney %}
    {% set title = "Your details" %}
    {% set buttonText = "Continue" %}
    {% set secondaryButton %}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        html: 'Update details',
        href: '/get-an-identity/edit-details',
        classes: "govuk-button--secondary"
      }) }}
    {% endset %}
{% else %}
    {% set title = "You’re signed in" %}
{% endif %}

{% block form %}
<h1 class="govuk-heading-xl">{{ title }}</h1>
<p>We found the following details in our records.</p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html:  data['full-name'] | title + '<p class="govuk-hint govuk-!-font-size-14">used for certificates</p>'
      }
    },
    {
      key: {
        text: "Preferred name"
      },
      value: {
        html:  data['preferred-first-name'] | title + ' ' + data['preferred-last-name'] | title + '<p class="govuk-hint govuk-!-font-size-14">used for email correspondence</p>'
      }
    },
    {
      key: {
        text: "TRN"
      },
      value: {
        text: data.identity.trn if data.identity['do-you-know-your-trn'] === 'yes' else '324235233'
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        html: data['email-address']
      }
    }
  ]
}) }}
<input type="hidden" name="account-data" value="{{ data | stringify }}">
{% endblock %}
