{% extends "layouts/wizard.html" %}
{% set title = "Continue to register for a NPQ" %}


{% block form %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>

{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Name"
    },
    value: {
      html:  data['first-name'] | title + ' ' + data['last-name'] | title
    },
    actions: {
      items: [
        {
          href: "edit-name",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  } ,
    {
      key: {
        text: "Email address"
      },
      value: {
        html: data['email-address']
      },
      actions: {
        items: [
          {
            href: "change-email",
            text: "Change",
            visuallyHiddenText: "email"
          }
        ]
      }
    }
  ]
}) }}



{% endblock %}
