{% extends "layouts/wizard.html" %}

{% if getAnIdentityJourney %}
    {% set title = "Your details" %}
    {% else %}
    {% set title = "You’re signed in" %}
{% endif %}

{% block form %}
<h1 class="govuk-heading-xl">{{ title }}</h1>
<p>We found the following details in our records. </p>
 
  <p><a target="_blank" href='https://forms.gle/RQbuhAHzhKu12ZVC7'>Let us know if your details are incorrect.</a></p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text:  data['full-name'] | title
      }
    },
    {
      key: {
        text: "Preferred name"
      },
      value: {
        text:  data['preferred-name'] | title
      }
    },
    {
      key: {
        text: "TRN"
      },
      value: {
        text: data.identity.trn if data.identity['do-you-know-your-trn'] === 'yes' else '324235233'
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data['date-of-birth'] | isoDateFromDateInput| govukDate
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        html: data['email-address'] 
      }
    }
  ]
}) }}
<input type="hidden" name="account-data" value="{{ data | stringify }}">
{% endblock %}
