{% extends "layouts/wizard.html" %}
{% set title = "Do have a teacher reference number (TRN)?" %}

{% block form %}
<h1 class="govuk-heading-xl">{{ title }}</h1>


<p>Your TRN is 7 digits long, for example 4567814. It might include the letters RP and a slash, for example RP99/12345</p>

<p class="govuk-!-margin-bottom-7">If you have a TRN but are not sure what it is, you can <a target="_blank" href='https://find-a-lost-trn.education.gov.uk/start'>find a lost TRN</a>.</p>

{% set trn %}
  {{ govukInput({
    label: {
      text: 'What is your TRN?',
      classes: "govuk-label--s"
    },
    decorate: 'identity.trn',
    validate: {
      presence: {
        message: "Enter your TRN"
      }
    }
  }) }}
{% endset %}

{{ govukRadios({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--m",
      text: 'Do you have a TRN?'
    }
  },
  items: [{
    text: "Yes",
    value: "yes",
    conditional: {
      html: trn
    }
  }, {
    text: "No",
    value: "no"
  }],
  decorate: "identity.do-you-know-your-trn",
  validate: {
    presence: {
      message: "Tell us if you know your TRN"
    }
  }
}) }}
{% endblock %}
