{% extends "layouts/wizard.html" %}
{% set title = 'Create your password' %}

{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p>Your password must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>be at least 8 characters long</li>
    <li>include letters and numbers</li>
  </ul>

  <p>Do not use a very common password, such as ‘password’ or a sequence of numbers.</p>

  {{ govukInput({
    label: {
      text: "Enter a password"
    },
    type: 'password',
    decorate: 'govuk-account.password'
  }) }}

  {{ govukInput({
    label: {
      text: "Re-type password"
    },
    type: 'password',
    decorate: 'govuk-account.confirm-password'
  }) }}

  {% set html %}
    <p>A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
  {% endset %}

  {{ govukDetails({
    summaryText: 'How to create a secure password',
    html: html
  }) }}

  <h2 class="govuk-heading-s">Agree to our terms of use</h2>

  <p>By continuing, you confirm that you agree to our:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#">privacy notice (opens in a new tab)</a>, which explains how we use your personal information</li>
    <li><a href="#">terms and conditions (opens in a new tab)</a></li>
  </ul>

{% endblock %}
