{% extends "layouts/wizard.html" %}
{% set title = 'Your GOV.UK account' %}
{% set hideButton = true %}
{% set email = d('govuk-account.email-address') or 'email@example.com' %}
{% block pageNavigation %}{% endblock %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>You’re signed in as <strong>{{ email }}</strong></p>

  <h2 class="govuk-heading-m">Your sign in details</h2>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9" if change,
    rows: decorateRows([
      {
        key: "Email address",
        value: email,
        href: '#'
      },
      {
        key: "Password",
        value: '••••••••••••••••',
        href: '#'
      },
      {
        key: "Phone number",
        value: '	*********1234',
        href: '#'
      }
    ])
  }) }}

  <h2 class="govuk-heading-m">Delete your GOV.UK account</h2>

  <p>This will permanently delete your GOV.UK account. You’ll no longer be able to sign in to the services you’ve used with your account.</p>

  <p><a href="#">Delete your GOV.UK account</a></p>

  <div style="padding: 30px; background: #f3f2f1">
    <h2 class="govuk-heading-m">About GOV.UK accounts</h2>
    <p>GOV.UK accounts are new. At the moment you can only use your GOV.UK account with a few services.</p>
    <p>GOV.UK accounts are currently separate from other government accounts (for example Government Gateway or Universal Credit).</p>
    <p>In the future, you’ll be able to use your GOV.UK account to sign in to most services on GOV.UK.</p>
  </div>
{% endblock %}
