{% extends "layouts/wizard.html" %}
{% set title = "Change their preferred name" %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
 
    <p>Changes to a preferred name will not update DQT.</p>
    <!-- <ul class="govuk-list govuk-list--bullet">
      <li>not update their legal name in Get an identity</li>
      <li>not update DQT</li>
    </ul> -->
  
    <!-- <p>You do not need to verify a preferred name change.</p> -->

    
  <h2 class="govuk-heading-m">Current names</h2>
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    rows: decorateRows([
      {
        key: 'Preferred name',
        value: fullName(user.name)
      },
      {
        key: 'DQT',
        value: fullName(user.dqt)
      } if user.dqt
    ])
  }) }}

  <h2 class="govuk-heading-m">New preferred name</h2>

  {{ govukInput({
    label: {
      text: 'First name',
      classes: "govuk-label--s"
    },
    decorate: dataPath + '.name.first-name'
  }) }}

  {{ govukInput({
    label: {
      text: 'Last name',
      classes: "govuk-label--s"
    },
    decorate: dataPath + '.name.last-name'
  }) }}

  <!-- {{ govukCheckboxes({
    formGroup: {
      classes: "govuk-!-margin-top-7"
    },
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Have you seen the correct documents to verify this name?"
      }
    },
    items: [
      {
        text: "Yes, I’ve seen the documents"
      }
    ],
    decorate: randomNumber(),
    validate: {
      presence: {
        message: "You must confirm you’ve seen the correct documents before continuing"
      }
    }
  }) }} -->
{% endblock %}
