{% extends "layouts/wizard.html" %}
{% set title = "Change your email address" %}

{% block form %}
  {{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--xl",
      isPageHeading: true
    },
    decorate: 'email-address',
    validate: {
      presence: {
        message: "Enter your email address"
      },
      email: {
        message: "Enter an email address in the correct format, like name@example.com"
      }
    } if data.features.validation.on
  }) }}
{% endblock %}
