{% extends "layouts/wizard-interruption.html" %}
{% set matched = not d('account.try-again') === 'no' %}
{% set title = "Continue with your NPQ registration" %}

{% block form %}
  <h1 class="govuk-panel__title">{{ title }}</h1>

  {% if not matched and data.features.noMatchJourney.on %}
    <h2 class="govuk-heading-m">You can continue without a match</h2>
    <p>We will attempt to match your record again. If we cannot, someone might be in touch to ask for more information.</p>
  {% else %}
    <p>Thank you, we’ve finished checking our records.</p>
  {% endif %}

  {% if data.account['next-time'] === 'yes' %}
    <h2 class="govuk-heading-m">Next time</h2>
    <p class="govuk-!-margin-bottom-6">Next time, you can skip these questions by signing in with your email address: <b>{{ data['email-address'] or "email@example.com" }}</b></p>
  {% endif %}

  <input type="hidden" name="account-data" value="{{ data | stringify }}">
{% endblock %}
