{% extends "layouts/wizard.html" %}
{% set title = "Next time, you can skip these questions" %}

{% block form %}
<h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>

<p>When you sign in with your email address next time, you will skip these questions. We do not need to ask them again.</p>

<!-- <p>You might return to this service to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>edit or check your registration</li>
  <li>register for another NPQ</li>
  <li>download your NPQ certificates</li>
</ul> -->
{% endblock %}
