{% set basePath = "/get-an-identity" if getAnIdentityJourney else "" %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9" if change,
  rows: decorateRows([
    {
      key: "Email address",
      value: data['email-address'] or 'email@example.com',
      href: basePath + "/email" if change
    }, {
      key: "Do you have a TRN?",
      data: "identity.do-you-have-a-trn",
      href: basePath + "/trn-holder" if change
    } if getAnIdentityJourney and not data.features.trnRequired.on, {
      key: "Teacher reference number (TRN)",
      value: data.identity.trn if data.identity['do-you-know-your-trn'] === 'yes' else 'I don’t know my TRN',
      href: basePath + "/trn-known" if change
    } if getAnIdentityJourney and data.identity['do-you-have-a-trn'] === 'Yes' and not data.features.trnRequired.on, {
      key: "Name",
      data: "full-name",
      href: (basePath + "/official-name" if getAnIdentityJourney else basePath + "/name") if change,
      condition: "full-name"
    }, {
      key: "Previous name",
      data: "previous-name",
      href: (basePath + "/official-name" if getAnIdentityJourney else basePath + "/name") if change
    } if data['previous-name'] and not (data['previous-name'] === " "), {
      key: "Date of birth",
      value: data['date-of-birth'] | isoDateFromDateInput| govukDate,
      href: basePath + "/dob" if change
    } if data['date-of-birth'], {
      key: "National Insurance number",
      value: data['national-insurance-number'] or 'Not given',
      href: basePath + "/nino" if change
    } if data['have-nino'] !== 'No' and not data.emailMatchJourney, {
      key: "Do you have a National Insurance number?",
      value: "No",
      href: basePath + "/have-nino" if change
    } if data['have-nino'] === 'No', {
      key: "Teacher reference number (TRN)",
      value: data.identity.trn if data.identity['do-you-know-your-trn'] === 'yes' else 'I don’t know my TRN',
      href: basePath + "/trn-known" if change
    } if getAnIdentityJourney and data.features.trnRequired.on, {
      key: "Have you been awarded QTS?",
      data: "has-qts",
      href: basePath + "/have-qts" if change,
      condition: "has-qts"
    }, {
      key: "Where did you get your QTS?",
      value: data['itt-provider'] if data['itt-provider'] else 'Not given',
      href: basePath + "/how-qts" if change
    } if data['has-qts'] === 'Yes' and data['has-qts-from-provider'] === 'Yes', {
      key: "Did a university, SCITT or school award your QTS?",
      data: "has-qts-from-provider",
      href: basePath + "/how-qts" if change
    } if data['has-qts'] === 'Yes' and data['has-qts-from-provider'] !== 'Yes', {
      key: "Phone number" if sendingTextMessage else "Send TRN by text message",
      value: data['phone-number'] if sendingTextMessage else "No",
      href: basePath + "/sms" if change
    } if findTRNJourney and data.features.sms.on
  ])
}) }}
