{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9" if change,
  rows: [{
      key: {
      text: "Email address"
    },
    value: {
      text: data['email-address'] or 'email@example.com'
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "email address",
        href: "/email"
      }]
    } if change
  }, {
    key: {
      text: "Name"
    },
    value: {
      text: data['full-name']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "name",
        href: "/name"
      }]
    } if change
  } if data['full-name'], {
  key: {
      text: "Previous name"
    },
    value: {
      text: data['previous-name']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "previous name",
        href: "/name"
      }]
    } if change
  } if data['previous-name'] and not data['previous-name'] === " ", {
    key: {
      text: "Date of birth"
    },
    value: {
      text: data['date-of-birth'] | dateWithYear
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "date of birth",
        href: "/dob"
      }]
    } if change
  } if data['date-of-birth'], {
    key: {
      text: "National Insurance number"
    },
    value: {
      text: data['national-insurance-number'] or 'Not given'
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "National Insurance number",
        href: "/nino"
      }]
    } if change
  } if data['have-nino'] !== 'No', {
    key: {
      text: "Do you have a National Insurance number?"
    },
    value: {
      text: "No"
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "National Insurance number",
        href: "/have-nino"
      }]
    } if change
  } if data['have-nino'] === 'No', {
    key: {
      text: "Where did you get your QTS?"
    },
    value: {
      text: data['itt-provider'] if data['itt-provider'] else 'Not given'
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "where you got your QTS",
        href: "/have-qts"
      }]
    } if change
  } if data['has-qts'] === 'Yes', {
    key: {
      text: "Have you been awarded QTS?"
    },
    value: {
      text: data['has-qts']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "if you have QTS",
        href: "/have-qts"
      }]
    } if change
  } if data['has-qts'] === 'No'
]}) }}
