{% set previousNameHtml %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4">What was your previous name?</h2>
  <p>You do not have to tell us your previous name, but it will help us identify you.</p>
  <p>If we cannot match your current name against our records, we’ll try to match your previous name.</p>
  <p>If you've changed your name more than once, tell us your most recent previous name.</p>
  {% if useFullName %}
    {{ govukInput({
      label: {
        text: "Previous name"
      },
      decorate: 'previous-name'
    }) }}
  {% else %}
    {{ govukInput({
      label: {
        text: "Previous first name (optional)",
        classes: "govuk-label--s"
      },
      decorate: 'previous-first-name'
    }) }}

    {{ govukInput({
      label: {
        text: "Previous last name (optional)",
        classes: "govuk-label--s"
      },
      decorate: 'previous-last-name'
    }) }}
  {% endif %}
{% endset %}

{{ govukRadios({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--m",
      text: "Have you ever changed your name?"
    }
  },
  items: [
    {
      value: "no",
      text: "No"
    },
    {
      value: "changed-name",
      text: "Yes",
      conditional: {
        html: previousNameHtml
      }
    },
    {
      text: "Prefer not to say"
    }
  ],
  decorate: 'changed-name'
}) }}
