{% extends "layouts/wizard.html" %}
{% set title = "We will ask you some questions to help find your TRN" %}

{% block beforeForm %}
<h1 class="govuk-heading-xl">{{ title }}</h1>
<p>
  {% if data.features.helpdeskOnly.on %}
    We’ll ask for your name, date of birth and National Insurance number. If you do not have your National Insurance number available, we may ask you some follow-up questions.
  {% else %}
    We’ll ask for your name, date of birth and National Insurance number. If we do not find your TRN based on these details, we may ask you some follow-up questions.
  {% endif %}
</p>
{% endblock %}
