{% extends "layouts/wizard.html" %}
{% set title = "Check answers page" %}
{% set emailAddress = data['email-address'] or 'email@example.com' %}
{% set buttonText = "Submit" %}

{% block beforeForm %}
<h1 class="govuk-heading-xl">Check your answers</h1>

<p>We will send your TRN to {{ emailAddress }} if we find one matching your details.</p>
{% set change = true %}
{% include '_check-answers.html' %}

{% endblock %}

{% block form %}
  <input type="hidden" name="answers-checked" value="true">
{% endblock %}
