{% extends "layouts/wizard.html" %}
{% set title = "Check answers page" %}
{% set emailAddress = data['email-address'] or 'email@example.com' %}
{% set buttonText = "Submit" %}

{% block beforeForm %}
<h1 class="govuk-heading-xl">Check your answers</h1>

<p>We will send your TRN to {{ emailAddress }} if we find one matching your details.</p>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: [{
      key: {
      text: "Email address"
    },
    value: {
      text: emailAddress
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "email address",
        href: "/email"
      }]
    }
  }, {
    key: {
      text: "Name"
    },
    value: {
      text: data['full-name']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "name",
        href: "/name"
      }]
    }
  } if data['full-name'], {
  key: {
      text: "Previous name"
    },
    value: {
      text: data['previous-name']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "previous name",
        href: "/name"
      }]
    }
  } if data['previous-name'], {
    key: {
      text: "Date of birth"
    },
    value: {
      text: data['date-of-birth'] | dateWithYear
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "date of birth",
        href: "/dob"
      }]
    }
  } if data['date-of-birth'], {
    key: {
      text: "National Insurance number"
    },
    value: {
      text: data['national-insurance-number'] or 'Not given'
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "National Insurance number",
        href: "/ni-number"
      }]
    }
  } if data['have-nino'] === 'Yes', {
    key: {
      text: "Teacher training provider"
    },
    value: {
      text:  data['itt-provider']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "teacher training provider",
        href: "/itt-provider"
      }]
    }
  } if data['itt-provider'] and data['has-done-itt'] === 'yes'
]}) }}
{% endblock %}

{% block form %}
  <input type="hidden" name="answers-checked" value="true">
{% endblock %}
