{% extends "layouts/wizard.html" %}
{% set title = "Your email address" %}

{% block form %}

{% set title = ("Enter your email address to sign in ") if data['signedIn'] == 'yes' else "Enter your email address" %}



{% if getAnIdentityJourney %}
<h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>


<p>
  We use your email address to find your details in our records. 
</p>
<p>
If we do not recognise your email, we’ll ask you for a few details instead.
</p>





<p>
You’ll receive a code by email to confirm your email address.
</p>
{{ govukInput({
  label: {
    text: "Enter your email address",
    classes: "govuk-label--s"
  },
  hint: {
    text: 'Use your personal email address. This is so you can keep these sign in details should you change jobs .'
  } if data['signedIn'] !== 'yes',
  decorate: 'email-address',
  validate: {
    presence: {
      message: "Enter your email address"
    },
    email: {
      message: "Enter an email address in the correct format, like name@example.com"
    }
  }
}) }}


{% else %}
{{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--xl",
      isPageHeading: true
    },
    hint: {
      text: 'If we can find your TRN, we’ll send it to the email address you give.'
    },
    decorate: 'email-address',
    validate: {
      presence: {
        message: "Enter your email address"
      },
      email: {
        message: "Enter an email address in the correct format, like name@example.com"
      }
    }
  }) }}
  {% endif %}

{% endblock %}
