{% extends "layouts/wizard.html" %}
{% set title = "Your email address" %}

{% block form %}
  {{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--xl",
      isPageHeading: true
    },
    hint: {
      text: 'If we can find your TRN, we’ll send it to the email address you give.'
    } if findTRNJourney,
    decorate: 'email-address',
    validate: {
      presence: {
        message: "Enter your email address"
      },
      email: {
        message: "Enter an email address in the correct format, like name@example.com"
      }
    } if data.features.validation.on
  }) }}

  {% if accountJourney %}
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Do not use a work email address</h2>
    <p class="govuk-!-margin-bottom-6">We recommend using a personal email address. If you use a work email and change jobs, you might not be able to sign in to this service again.</p>
  {% endif %}
{% endblock %}
