{% extends "layouts/wizard.html" %}
{% set title = "What is your email address?" %}

{% block form %}
  {{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--xl",
      isPageHeading: true
    },
    hint: {
      text: 'If we can find your TRN, we’ll send it to the email address you give.'
    } if findTRNJourney,
    decorate: 'email-address',
    validate: {
      presence: {
        message: "Enter your email address"
      },
      email: {
        message: "Enter an email address in the correct format, like name@example.com"
      }
    } if data.features.validation.on
  }) }}
{% endblock %}
