{% extends "layouts/default.html" %}
{% set title = "Information received" %}

{% block content %}
  {% set html %}
    <a class="app-hidden-link" href="/emails/email-with-api-down">We’ll send your TRN by email or get in touch to ask for more information</a>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: title,
        html: html,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>You’ll get an email with your TRN if we find a match. Otherwise, we’ll be in touch to ask for more information.</p>

      <p>We aim to respond in 5 working days.</p>

      <h2 class="govuk-heading-m">For urgent requests, call the Teaching Regulation Agency</h2>
      <p>Give the helpdesk your request number: 4992.</p>
      <ul class="govuk-list">
        <li>Telephone: 020 7593 5394</li>
        <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>
    </div>
  </div>
{% endblock %}
