{% extends "layouts/default.html" %}
{% set title = "We’ve received your request" %}

{% block content %}
  {% set html %}
    <p class="app-!-inherit-colour govuk-!-margin-bottom-0">
      <a class="app-hidden-link govuk-!-font-size-24" href="/emails/email-with-api-down">You’ll get an email with your TRN if we find a match. Otherwise, we’ll contact you for more&nbsp;information.</a>
    </p>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleHtml: title | noOrphans,
        html: html,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>We aim to respond in 5 working days.</p>

      <h2 class="govuk-heading-m">For urgent requests, call the Teaching Regulation Agency</h2>
      <p>Give the helpdesk your request number: 4992.</p>
      {% include '_phone-line.html' %}
    </div>
  </div>
{% endblock %}
