{% extends "layouts/default.html" %}
{% set title = "TRN requested" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: title,
        html: 'We’ve sent an email confirming your request',
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>We aim to respond via email within 5 working days. If we cannot find your record, we may request further information from you to help locate it.</p>

      <h2 class="govuk-heading-m">For urgent requests call the TRA Helpdesk</h2>
      <p>Give the helpdesk your request number: 4992.</p>
      <ul class="govuk-list">
        <li>Telephone: 0800 976 239</li>
        <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>
    </div>
  </div>
{% endblock %}
