{% extends "layouts/default.html" %}
{% block pageTitle %}Find a lost TRN prototype{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            TRA Digital
          </h1>
          <div class="app-masthead__subtitle govuk-heading-l">Prototypes of Teaching Regulation Agency (TRA) services</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m">Find a lost TRN</h2>

      {{ govukButton({
        text: 'View prototype',
        href: '/start'
      }) }}

      <ul class="govuk-list">
        <li>
          <a href="/user-research">
            User research scenarios
          </a>
        </li>
        <li>
          <a href="/public/govuk-trn.html">
            Teacher reference number (TRN) guidance: mock-up
          </a>
        </li>
        <li>
          <a href="https://github.com/DFE-Digital/find-a-lost-trn">
            Service Github repository
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Get an identity to access Teacher Services</h2>

      {{ govukButton({
        text: 'View prototype',
        href: '/account/email'
      }) }}

      <ul class="govuk-list">
        <li>
          <a href="https://npq-wrapper-prototype.herokuapp.com/start">NPQ service wrapper</a>
        </li>
        <li>
          <a href="/support">Support for Get an identity</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Related links</h2>

      <ul class="govuk-list">
        <li>
          <a href="https://tra-digital-design-history.herokuapp.com/">
            Design history
          </a>
        </li>
        <li>
          <a href="https://github.com/DFE-Digital/find-a-lost-trn-prototype">
            Prototype Github repository
          </a>
        </li>
        <li>
          <a href="https://github.com/DFE-Digital/tra-digital-design-history">
            Design history Github repository
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
