{% extends "layouts/wizard.html" %}
{% set title = "Have you ever been enrolled in initial teacher training in England or Wales?" %}

{% block form %}
  {% set ITTProviderNameHtml %}
    {% if data.features.ittAutocomplete.on %}
      <label for="itt-autocomplete" class="govuk-label">
        Your school, university or other training provider
      </label>
      <div id="itt-autocomplete-container" data-value="{{ data['itt-provider'] }}"></div>
    {% else %}
      {{ govukInput(decorate({
        label: {
          text: "Your school, university or other training provider"
        }
      }, ["itt-provider"])) }}
    {% endif %}
  {% endset %}

  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        text: "Yes",
        value: 'yes',
        conditional: { html: ITTProviderNameHtml }
      },
      {
        text: "No",
        value: 'no'
      }]
  }, ["has-done-itt"])) }}
{% endblock %}
