{% extends "layouts/wizard.html" %}
{% set title = "Have you been awarded qualified teacher status (QTS)?" %}

{% block form %}
  {% set ITTProviderNameHtml %}
    {% if data.features.ittAutocomplete.on %}
      <label for="itt-autocomplete" class="govuk-label govuk-label--s">
        Where did you get your QTS?
      </label>
      <div id="itt-provider-hint" class="govuk-hint">
        Your university, SCITT, school or other training provider
      </div>
      <div id="itt-autocomplete-container" data-value="{{ data['itt-provider'] }}"></div>
    {% else %}
      {{ govukInput({
        label: {
          text: "Where did you get your QTS?",
          classes: "govuk-label--s"
        },
        hint: {
          text: "Your university, SCITT, school or other training provider"
        },
        decorate: "itt-provider"
      }) }}
    {% endif %}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        text: "Yes",
        conditional: { html: ITTProviderNameHtml }
      },
      {
        text: "No"
      }
    ],
    decorate: "has-done-itt"
  }) }}
{% endblock %}
