{% extends "layouts/wizard.html" %}
{% set title = "Find out your TRN" %}

{% block form %}
  {% set ITTProviderNameHtml %}
    {{ xGovukAutocomplete(decorate({
      label: {
        text: "Your school, university or other training provider"
      },
      items: ittProviderOptionNames()
    }, ["itt-provider"])) }}
  {% endset %}

  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true,
        text: 'Have you ever been enrolled in initial teacher training in England or Wales?'
      }
    },
    items: [
      {
        text: "Yes",
        value: 'yes',
        conditional: { html: ITTProviderNameHtml }
      },
      {
        text: "No",
        value: 'no'
      }]
  }, ["wizard", "has-done-itt"])) }}
{% endblock %}
