{% extends "layouts/wizard.html" %}
{% set title = "It’s taking us longer than usual to find TRNs" %}

{% block beforeForm %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p>Normally, if we find a match we would send your TRN straight away, but at the moment we are having technical problems.</p>

  <p>If you give us all the information we need, you won’t get a response straight away. And if the information you give is incomplete, it might take more than five days to get back to you.</p>

  <h2 class="govuk-heading-m">If you need your TRN quickly</h2>
  <p>Call the Teaching Regulation Agency, and have your National Insurance number ready:</p>
  {% include '_phone-line.html' %}

  <div class="govuk-!-margin-bottom-6"></div>
{% endblock %}
