{% extends "layouts/wizard.html" %}
{% set useFullName = data.features.fullName.on %}
{% set checkingAgainstTRNRecord = findTRNJourney or data.account['do-you-have-a-trn'] === 'Yes' %}
{% set title = "Your name" %}

{% block form %}
  {% set previousNameHtml %}
    {% if useFullName %}
      {{ govukInput({
        label: {
          text: "Previous name"
        },
        decorate: 'previous-name'
      }) }}
    {% else %}
      {{ govukInput({
        label: {
          text: "Previous first name"
        },
        decorate: 'previous-first-name'
      }) }}

      {{ govukInput({
        label: {
          text: "Previous last name"
        },
        decorate: 'previous-last-name'
      }) }}
    {% endif %}
  {% endset %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% if checkingAgainstTRNRecord %}
    <p>We’ll match your name against the Teaching Regulation Agency records.</p>
  {% endif %}

  {% if useFullName %}
    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--m"
      },
      decorate: 'full-name'
    }) }}
  {% else %}
    {{ govukInput({
      label: {
        text: "First name",
        classes: "govuk-label--m"
      },
      decorate: 'first-name'
    }) }}

    {{ govukInput({
      label: {
        text: "Last name",
        classes: "govuk-label--m"
      },
      decorate: 'last-name'
    }) }}
  {% endif %}

  {% if checkingAgainstTRNRecord %}
    {{ govukCheckboxes({
      items: [
        {
          value: "changed-name",
          text: "I’ve changed my name since I received my TRN",
          conditional: { html: previousNameHtml }
        }
      ],
      decorate: 'changed-name'
    }) }}
  {% endif %}
{% endblock %}
