{% extends "layouts/wizard.html" %}
{% set title = "Do you have a National Insurance number?" %}

{% block form %}
  {% set NINumberHtml %}
    {{ govukInput(decorate({
      label: {
        text: "National Insurance number",
        classes: "govuk-label--m"
      },
      hint: {
        text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
      }
    }, ['national-insurance-number'])) }}
  {% endset %}

  {% set NINumberForgottenHtml %}
    {{ govukWarningText({
      text: "You can continue without providing your National Insurance number but we are less likely to find your TRN without it.",
      iconFallbackText: "Warning"
    }) }}
  {% endset %}

  {{ govukRadios(decorate({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        text: "Yes, I have one, and I know it",
        value: 'yes',
        conditional: { html: NINumberHtml }
      },
      {
        text: "I have a National Insurance number but I do not have it available",
        value: 'forgotten',
        conditional: { html: NINumberForgottenHtml }
      },
      {
        text: "No, I have never been issued a National Insurance number",
        value: 'no'
      }]
  }, ['has-national-insurance-number'])) }}
{% endblock %}
