{% extends "layouts/wizard.html" %}
{% set title = "Do you want to get your TRN in a text message?" %}

{% block form %}
  {% set html %}
    {{ govukInput({
      label: {
        text: "Mobile telephone number",
        classes: "govuk-label--s"
      },
      hint: {
        text: "For international numbers include the country code"
      },
      classes: "govuk-input--width-20",
      decorate: "phone-number",
      autocomplete: "tel",
      validate: {
        conditional: {
          dependentOn: {
            name: "[sms]",
            value: "Yes"
          },
          message: "Tell us your phone number"
        }
      }
    }) }}

    <p class="govuk-!-margin-top-4">We will only use your number to send your TRN.</p>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        text: "Yes, send it by text message and email",
        value: "Yes",
        conditional: { html: html }
      },
      {
        text: "No, do not send a text message",
        value: "No"
      }
    ],
    decorate: "sms",
    validate: {
      presence: {
        message: "Tell us if you want to receive your TRN by text"
      }
    }
  }) }}
{% endblock %}
