{% extends "layouts/default.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find your <a href="/public/govuk-trn.html" class="govuk-link">teacher reference number (TRN)</a> if you do not know it or have forgotten it</li>
        <li>check if you have a TRN</li>
      </ul>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Have your National Insurance number ready, as we’ll ask for this.</p>

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-9",
        text: "Start now",
        href: paths.next,
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Other ways to find your TRN</h2>

      <p>Your TRN may be shown on a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>payslip</li>
        <li>teacher pension statement</li>
        <li>teacher training records</li>
      </ul>

      <p>The TRN has previously been known as a QTS, GTC, DfE, DfES and DCSF number.</p>

      <h2 class="govuk-heading-m">Find a lost TRN by phone</h2>

      <p>Call the Teaching Regulation Agency, and have your National Insurance number ready:</p>
      {% include '_phone-line.html' %}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "Teacher reference number (TRN)",
            href: "https://www.gov.uk/guidance/teacher-reference-number-trn"
          }, {
            text: "Teacher self service portal",
            href: "https://www.gov.uk/guidance/teacher-self-service-portal"
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
