{% extends "layouts/wizard.html" %}
{% set title = "Get a response by email" %}
{% set buttonText = "Request TRN" %}

{% block beforeForm %}
<h1 class="govuk-heading-xl">{{ title }}</h1>

<p>Send a request to the Teaching Regulation Agency helpdesk using the details below.</p>

<p>We aim to respond via email within 5 working days.</p>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: [{
      key: {
      text: "Email address"
    },
    value: {
      text: data['email-address'] or 'email@example.com'
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "email address",
        href: "/email"
      }]
    }
  }, {
    key: {
      text: "Name"
    },
    value: {
      text: data['full-name']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "name",
        href: "/name"
      }]
    }
  } if data['full-name'], {
  key: {
      text: "Previous name"
    },
    value: {
      text: data['previous-name']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "previous name",
        href: "/name"
      }]
    }
  }if data['previous-name'], {
    key: {
      text: "Date of birth"
    },
    value: {
      text: data['date-of-birth'] | dateWithYear
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "date of birth",
        href: "/dob"
      }]
    }
  } if data['date-of-birth'], {
    key: {
      text: "National Insurance number"
    },
    value: {
      text: data['national-insurance-number'] or 'Not given'
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "National Insurance number",
        href: "/ni-number"
      }]
    }
  } if data['have-nino'] === 'Yes', {
    key: {
      text: "Teacher training provider"
    },
    value: {
      text:  data['itt-provider']
    },
    actions: {
      items: [{
        text: "Change",
        visuallyHiddenText: "teacher training provider",
        href: "/itt-provider"
      }]
    }
  } if data['itt-provider']
]}) }}
{% endblock %}

{% block form %}
  <input type="hidden" name="answers-checked" value="true">
{% endblock %}
