{% extends "layouts/default.html" %}
{% set sendingTextMessage = data.features.sms.on and data.sms == 'Yes' and data['phone-number'] %}

{% set title = "Confirmation page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% set html %}
        {% if sendingTextMessage %}
          <a class="app-hidden-link" href="/emails/email-with-trn">We’ve sent it to <br><strong>{{ data['email-address'] or data.dqt_record['email-address'] }}</strong> and <strong>{{ data['phone-number'] }}</strong></a>
        {% else %}
          <a class="app-hidden-link" href="/emails/email-with-trn">We’ve sent it to <br><strong>{{ data['email-address'] or data.dqt_record['email-address'] }}</strong></a>
        {% endif %}
      {% endset %}

      {{ govukPanel({
        titleText: "We’ve found your TRN",
        html: html,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>
{% endblock %}
