{% extends "layouts/wizard.html" %}
{% set title = "Check if you have a TRN" %}

{% set trnGuidance %}
You will have a TRN if you:

* hold qualified teacher status (QTS) in England or Wales
* hold early years teacher status (EYTS) in England
* hold a national professional qualification (NPQ)
* are working towards QTS, EYTS or an NPQ
* contribute to the Teachers’ Pensions scheme
* have a relevant restriction in relation to teaching in England
{% endset %}

{% block form %}
<!-- <h1 class="govuk-heading-xl">{{ title }}</h1> -->
<!-- {{ trnGuidance | govukMarkdown | safe }} -->

{{ govukCheckboxes({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--xl",
      isPageTitle: true,
      text: 'Check if you have a TRN'
    }
  },
  hint: {
    text: 'Select any that apply to you'
  },
  items: [
    { text: "I hold qualified teacher status (QTS) in England or Wales" },
    { text: "I hold early years teacher status (EYTS) in England" },
    { text: "I hold a national professional qualification (NPQ)" },
    { text: "I am working towards QTS, EYTS or an NPQ" },
    { text: "I contribute to the Teachers’ Pensions scheme" },
    { text: "I have a relevant restriction in relation to teaching in England" },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of these apply to me",
      behaviour: "exclusive"
    }
  ],
  decorate: "do-you-have-a-trn",
  validate: {
    presence: {
      message: "Tell us if you think you have a TRN"
    }
  } if data.features.validation.on
}) }}
{% endblock %}
