{% extends "layouts/default.html" %}
{% block pageTitle %}User research with Department for Education{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">
            <span class="govuk-caption-xl app-!-inherit-colour">Department for Education</span>
            User research
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m">Find a lost TRN</h2>
      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-u" class="app-!-font-family-tabular-bold">API unavailable</a>
      </h3>

      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-s" class="app-!-font-family-tabular-bold">Success: TRN found</a>
      </h3>

      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-e" class="app-!-font-family-tabular-bold">Success: TRN found and email match</a>
      </h3>

      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-f" class="app-!-font-family-tabular-bold">Failure: No TRN match found</a>
      </h3>

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Get an identity to access Teacher Services</h2>

      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-1" class="app-!-font-family-tabular-bold">First time journey</a>
      </h3>

      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-2" class="app-!-font-family-tabular-bold">Subsequent journeys, identity known</a>
      </h3>

      <h3 class="govuk-heading-s">
        <a href="/user-research/scenario-3" class="app-!-font-family-tabular-bold">Access your teaching profile journey</a>
      </h3>
    </div>
  </div>
{% endblock %}
