{% extends "layouts/default.html" %}
{% set title = "If you do not have a teacher reference number (TRN)"%}
{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% set text %}
## How to get a TRN

If you’re eligible for a TRN in England, you should be allocated one automatically by the Teaching Regulation Agency or Capita Teachers’ Pensions.

If you do not have a TRN but need one to do a national professional qualification (NPQ), you should get instructions about how to request one. If you do not receive these instructions, email qts.enquiries@education.gov.uk.

## What a TRN is for

You need a TRN to:

* view your record with the Teaching Regulation Agency (TRA), and download professional certificates in the [Teacher self service portal](https://teacherservices.education.gov.uk/SelfService/Login?_ga=2.206960218.899524735.1637088337-1609244267.1609598427)
* give to employers so they can complete mandatory teacher status checks
* manage records of your contributions to the Teachers’ Pensions scheme
* give to the Department for Education (DfE) when you have been awarded QTS so you can begin your early career teacher induction
* register for an NPQ
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {{ text | govukMarkdown | safe }}
    </div>
  </div>
{% endblock %}
