{% extends "layouts/default.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">TRN</th>
        <th class="govuk-table__header">Last use</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="/support/user">Jane Doe</a></td>
        <td class="govuk-table__cell">1234567</td>
        <td class="govuk-table__cell">10 July 2022</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Joe Schmoe</a></td>
        <td class="govuk-table__cell">9876543</td>
        <td class="govuk-table__cell">9 June 2022</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
