{% extends "layouts/wizard.html" %}
{% set title = "Get a DQT record by using a TRN number" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukInput({
    label: {
      text: 'Teacher reference number (TRN)',
      classes: "govuk-label--m"
    },
    classes: 'govuk-!-width-one-third',
    decorate: 'support.' + user.id + '.trn',
    validate: {
      presence: {
        message: "Enter a TRN"
      }
    } if data.features.validation.on
  }) }}
{% endblock %}
