{% extends "layouts/default.html" %}
{% set title = fullName(user.name) %}
{% block pageNavigation %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Support",
      href: "/support"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
    </div>
  </div>

  {% if user.dqt and not (fullName(user.dqt) === fullName(user.name)) %}
    {{ govukWarningText({
      text: 'Official name does not match DQT'
    }) }}
  {% endif %}

  {% set officialName %}
    <p>
      {{ fullName(user.name) }}
    </p>

    <span class="govuk-!-font-size-16 govuk-hint">
      Name used in Get an ID<br />
      From: {{ user.name.from }}<br />
      Created: {{ user.name.created | govukDate }}
    </span>
  {% endset %}

  {% set dqt %}

      {% if data['success'] === "no-record" %}
        No      
      {% elseif data['success']  !== "no-record"  %}
          {% if user.dqt %}
          Yes

        
            {% else %}
              No record linked
          {% endif %}
      
      {% endif %}
{% endset %}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Get an identity details",
    rows: decorateRows([
      {
        key: 'Preferred name',
        value: {
          html: officialName
        },
        
        actions: {
          items: [
            {
              text: "Change",
              visuallyHiddenText: "name",
              href: urlPath + '/name-change/official-name'
            }
          ]
        }
      },
      {
        key: 'Email address',
        value: {
          html: user.email
        },
        href: urlPath + '/email-change/email'
      },
      {
        key: 'DQT record',
        value: {
          html: dqt
        },
        classes: 'action_links',
        actions: {
          items: [
            {
              text: "Change record",
              href: "#"
            } if user.dqt else {
              text: "Add record",
              href: urlPath + '/link-dqt/trn'  
            },
           {
              text: "Mark as non DQT",
              href: urlPath + '?success=no-record',
              classes: 'button'  
            } if not user.dqt
          ]
        }
      }
    ])
  }) }}

  {% if user.dqt %}
    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: "DQT record",
      rows: decorateRows([
        {
          key: 'DQT name',
          value: {
            html: fullName(user.dqt)
          }
        },
        {
          key: 'Date of birth',
          value: {
            html: user.dqt.dob | govukDate
          }
        },
        {
          key: 'National Insurance number',
          value: {
            html: 'Given' if user.dqt.nino else 'Not given'
          }
        } ,
        {
          key: 'TRN',
          value: {
            html: user.dqt.trn
          }
        }
      ])
    }) }}
  {% endif %}
  <script>
    $(document).ready(function(){
      $(".button").click(function(){
        $(".action_links .govuk-summary-list__value").text("Hello world!");
      });
    });
    </script>
{% endblock %}
