{% extends "layouts/default.html" %}
{% set title = fullName(user.name) %}
{% block pageNavigation %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Support",
      href: "/support"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
    </div>
  </div>

  {% if not (fullName(user.dqt) === fullName(user.name)) %}
    {{ govukWarningText({
      text: 'Official name does not match DQT'
    }) }}
  {% endif %}

  {% set officialName %}
    <p>
      {{ fullName(user.name) }}
      {% if user.name.verified %}
        <span class="govuk-!-margin-left-1 govuk-tag govuk-tag--green">Verified</span>
      {% else %}
        <span class="govuk-!-margin-left-1 govuk-tag govuk-tag--grey">Unverified</span>
      {% endif %}
    </p>

    <span class="govuk-!-font-size-16 govuk-hint">
      From: {{ user.name.from }}<br />
      Created: {{ user.name.created | govukDate }}
    </span>
  {% endset %}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Get an identity details",
    rows: decorateRows([
      {
        key: 'Official name',
        value: {
          html: officialName
        },
        href: '/support/' + user.id + '/official-name'
      },
      {
        key: 'Email address',
        value: {
          html: user.email
        },
        href: '#'
      },
      {
        key: 'Linked to DQT?',
        value: {
          html: 'Yes'
        }
      }
    ])
  }) }}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "DQT record",
    rows: decorateRows([
      {
        key: 'Official name',
        value: {
          html: fullName(user.dqt)
        }
      },
      {
        key: 'Date of birth',
        value: {
          html: user.dqt.dob | govukDate
        }
      },
      {
        key: 'National Insurance number',
        value: {
          html: 'Given' if user.dqt.nino else 'Not given'
        }
      },
      {
        key: 'TRN',
        value: {
          html: user.dqt.trn
        }
      }
    ])
  }) }}
{% endblock %}
