{% extends "template.njk" %}

{% block head %}
  <meta name="google-site-verification" content="7CMJPvMnMuA_O7fct-MSnJs73ZQ6wdUFwoM3Oaw5fs4" />
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - GOV.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: productName,
    serviceName: serviceName if not productName,
    serviceUrl: serviceUrl or "/start",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This is a prototype of a new service. Some parts may not work yet."
  }) }}

  {% block pageNavigation %}{% endblock %}

  {% if appSuccess %}
    {% set successHtml %}
      {% if appSuccess.heading %}
      <h3 class="govuk-notification-banner__heading">
        {{ appSuccess.heading }}
      </h3>
      {% endif %}
      {{ appSuccess.body if appSuccess.body }}
    {% endset %}
    {{ govukNotificationBanner({
      html: successHtml,
      type: "success",
      classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0"
    }) if appSuccess }}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        text: "Clear session data",
        href: "/clear-session-data"
      } if useAutoStoreData, {
        text: "Feature flags",
        href: "/feature-flags"
      }, {
        text: "User research",
        href: "/user-research"
      }, {
        text: "Teaching Vacancies example",
        href: "/teaching-vacancies"
      }],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
